<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dojo AI | Mint, Buy, & Sell AI</title>
  <meta content="The worlds first marketplace to mint, buy, and sell AI. All with no-code." name="description">
  <meta content="artificial intelligence, machine learning, web3, NFT, AI, marketplace" name="keywords">

  <!-- Favicons -->
  <link href="static/images/cryptocurrency.png" rel="icon">
  <link href="static/images/cryptocurrency.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- W3 CSS FILE -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- WEB3 API FILES -->
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/">Dojo</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{{ url_for('main.index') }}">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{ url_for('main.docs') }}">Docs</a></li>
              <li><a href="#demo">Demo Video</a></li>
              <li><a onclick="whitePaper();">Dojo White Paper</a></li>
              <li class="dropdown"><a href="#faq"><span>FAQ</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#faq">What happens to my data?</a></li>
                  <li><a href="#faq">How does Dojo make money?</a></li>
                  <li><a href="#faq">What types of data are supported?</a></li>
                  <li><a href="#faq">How does the algorithm work?</a></li>
                  <li><a href="#faq">How does the platform work?</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{{ url_for('main.marketplace') }}">Marketplace</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" id="profile-btn" href="{{ url_for('main.profile') }}">My Profile</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    {% block content %}
    {% endblock %}

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="static/img/about.jpg" class="img-fluid" alt="about-img">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Dojo is democratizing access to artificial intelligence via the ethereum blockchain.</h3>
            <p class="fst-italic">
              When an NFT is minted (crypto-punks, for example), the image is encoded to bytes & stored on chain. The
              same can be done with an AI model.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Dojo has developed a proprietary algorithm which enables anyone to
                create AI, with no code.</li>
              <li><i class="bi bi-check-circle"></i> Once created, the AI is encoded to bytes & minted as an NFT to the
                creator.</li>
              <li><i class="bi bi-check-circle"></i> You can then query the AI for use at any time, or sell it on the
                Dojo marketplace.</li>
            </ul>
            <a href="{{ url_for('main.docs') }}" class="read-more">Read More<i class="bi bi-long-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ mint_count }}" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>AI NFTs minted</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ sale_count }}" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>AI NFTs for sale</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ user_count }}" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Active Dojo Users</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <img src="static/images/infinity.svg" width="75" alt="infinity">
            <p>AI NFT capabilities</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>To train an AI model, you need data. Dojo has developed a system that trains an AI model, based on the data
            provided by the user.</p>
          <p>The data is never stored, and is discarded after training the model.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <a href="{{ url_for('main.sports_services') }}">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5"
                      d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174">
                    </path>
                  </svg>
                  <i class="bx bxl-dribbble"></i>
                </a>
              </div>
              <h4><a href="">Sports Predictions</a></h4>
              <p>Predict the winners of sporting events.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <a href="{{ url_for('main.revenue_services') }}">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5"
                      d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781">
                    </path>
                  </svg>
                  <i class="bx bx-tachometer"></i>
                </a>
              </div>
              <h4><a href="">Revenue Projections</a></h4>
              <p>Predictive insights for deal velocity, sales, and more.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <a href="{{ url_for('main.healthcare_services') }}">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5"
                      d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813">
                    </path>
                  </svg>
                  <i class="bi bi-heart"></i>
                </a>
              </div>
              <h4><a href="">Healthcare</a></h4>
              <p>Predict patient illness, cost, stay, and more.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <a href="{{ url_for('main.marketing_services') }}">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5"
                      d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572">
                    </path>
                  </svg>
                  <i class="bi bi-bullseye"></i>
                </a>
              </div>
              <h4><a href="">Marketing</a></h4>
              <p>Optimize your strategy. Predict shares, likes, comments, analyze trends, and more.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <a href="{{ url_for('main.finance_accounting_services') }}">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5"
                      d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762">
                    </path>
                  </svg>
                  <i class="bx bx-arch"></i>
                </a>
              </div>
              <h4><a href="">Finance & Accounting</a></h4>
              <p>Fraud detection, loan defaults, insurance premiums, and more.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <a href="{{ url_for('main.other_services') }}">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5"
                      d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426">
                    </path>
                  </svg>
                  <i class="bi bi-signpost-2"></i>
                </a>
              </div>
              <h4><a href="">Other Services</a></h4>
              <p>If you have tabular data and don't think it fits any of the listed services, try it here.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Features</h2>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-brain"></i>
              <h4>AI Solutions</h4>
              <p>Provide robust & accurate AI to every human with WiFi</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-lightning-charge"></i>
              <h4>Intelligent NFTs</h4>
              <p>Leverage the power of AI, via an NFT you can actually use</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-currency-exchange"></i>
              <h4>Marketplace</h4>
              <p>Explore the Dojo NFT marketplace to share, buy, & sell AI</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-people-fill"></i>
              <h4>Community</h4>
              <p>Join the community to learn more & share experiences</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
            <img src="static/img/features.svg" alt="features" class="img-fluid">
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>NFTs of today</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="w3-card-4 w3-center" style="border-radius: 15px;">
                  <img class="w3-margin" src="static/images/stone.svg" width="200">
                </div>

              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="w3-card-4 w3-center" style="border-radius: 15px;">
                  <img class="w3-margin" src="static/images/mona-lisa.svg" width="200">
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="w3-card-4 w3-center" style="border-radius: 15px;">
                  <img class="w3-margin" src="static/images/monkey.svg" width="200">
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="w3-card-4 w3-center" style="border-radius: 15px;">
                  <img class="w3-margin" src="static/images/card.svg" width="200">
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="w3-card-4 w3-center" style="border-radius: 15px;">
                  <img class="w3-margin" src="static/images/paint.svg" width="200">
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

      <div class="container" data-aos="fade-up" style="padding-top: 50px;">

        <div class="section-title">
          <h2>NFTs of tomorrow</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="w3-card-4 w3-center" style="border-radius: 15px;">
                  <img class="w3-margin" src="static/images/ai_2.svg" width="200">
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="w3-card-4 w3-center" style="border-radius: 15px;">
                  <img class="w3-margin" src="static/images/robot.svg" width="200">
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="w3-card-4 w3-center" style="border-radius: 15px;">
                  <img class="w3-margin" src="static/images/drone.svg" width="200">
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="w3-card-4 w3-center" style="border-radius: 15px;">
                  <img class="w3-margin" src="static/images/gpu.svg" width="200">
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="w3-card-4 w3-center" style="border-radius: 15px;">
                  <img class="w3-margin" src="static/images/brain.svg" width="200">
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Demo Section ======= -->
    <section id="demo" class="demo section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>DEMO VIDEO</h2>
        </div>

        <div class="row">
          <div class="w3-center">
            <video style="margin-top: -50px;" height="400" controls autoplay loop muted playsinline>
              <source src="static/vids/dojo_live_demo_video.mp4" type="video/mp4">
            </video>
          </div>
        </div>

      </div>
    </section><!-- Demo Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                data-bs-target="#faq-list-1">What happens to my data? <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Your data is used to train the AI model. After it is trained, the data is discarded entirely.
                  <strong>Your
                    data will never be stored on our servers.</strong>
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
                class="collapsed">How does Dojo make money? <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Training your AI model is free. Due to the scarcity of computational resources, this is incredibly
                  generous. Once created, you will have the option to either mint or destroy the model.
                  <strong>If
                    the model is accurate, and you decide to mint it, Dojo will take a fee.</strong> Any models bought &
                  sold on
                  the marketplace also incur a fee. However, if you decide to destroy the model, it will cost you
                  nothing.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
                class="collapsed">What types of data are currently supported? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  As of right now, Dojo only supports tabular data. This includes<strong> CSV, HTML, and XLSX files.</strong> The algorithm automatically
                  recognizes the type of
                  task it is (Classification, Regression, Clustering, etc...), based on the data, and trains the proper
                  model. Development of computer vision and document processing models are already underway, and will
                  soon be available for beta.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
                class="collapsed">How does the algorithm work? <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  For you technologically inclined folks, Dojo is an extremely powerful Auto-ML solution. As stated
                  above, the algorithm automatically recognizes the task based on the uploaded data. From there, the
                  algorithm does everything a human engineer does when building a model. This includes EDA, feature
                  selection/encoding/scaling, model ensembling, hyper-param tuning, and more. <strong>A custom model
                    will not
                    out-perform the Dojo Auto-ML solution.</strong>
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
                class="collapsed">How does the platform work? <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  AI models are minted as NFTs. Let me break that down. Since AI models can be quite large, like GBs in
                  size, only a reference to the model is stored on chain. More specifically, <strong>a struct is stored
                    on
                    chain with the following properties: Name, Description, Accuracy.</strong> The actual model bytes
                  are
                  compressed and stored in a database.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row">
          <!-- <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div> -->

          <div class="col-lg-6 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>support@dojoapp.ai</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>DM Us</h3>
              <p>@Dojo_Dev on Discord</p>
            </div>
          </div>

        </div>

        <div class="row">

          <!-- <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
              frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div> -->

          <div class="col-lg-12 email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="contact-form-name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="contact-form-email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="contact-form-subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" id="contact-form-message" placeholder="Message" required></textarea>
            </div>
            <br>
            <div id="contact-form-respdiv" class="text-center" style="display: none;">
              <p id="contact-form-response"></p>
            </div>
            <br>
            <div id="sendmailLoadBTN" class="d-flex justify-content-center" style="visibility: hidden; padding-bottom: 10px;">
              <div class="spinner-grow " style="width: 2rem; height: 2rem;" >
                
              </div>
              <div class="spinner-grow" style="width: 2rem; height: 2rem;" role="status">
                
              </div>
              <div class="spinner-grow" style="width: 2rem; height: 2rem;" role="status">
                
              </div>
            </div>
            <div id="sendmailBTN" class="text-center"><button type="submit" onclick="sendMail();">Send Message</button></div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <a href="#hero"><img style="padding-bottom: 20px;" src="static/images/cryptocurrency.png" width="50"></a>
            <h3>Dojo</h3>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.terms_of_service') }}">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.privacy_policy') }}">Privacy policy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a onclick="whitePaper();">Dojo White Paper</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://ethereum.github.io/yellowpaper/paper.pdf">Ethereum Yellow Paper</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.sports_services') }}">Sports</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.marketing_services') }}">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.finance_accounting_services') }}">Finance/Accounting</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.healthcare_services') }}">Healthcare</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.revenue_services') }}">Revenue</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.other_services') }}">Other</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Fascinating news from the forefront of the AI revolution</p>
            <form>
              <input type="email" id="new-sub" ><input type="button" onclick="subscribe(event);" value="Subscribe">
            </form>
            <p style="display: none;" id="response"></p>
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; 2021 Copyright <strong><span>Dojo</span></strong>. All Rights Reserved.
            <!-- <input type="hidden" id="enable"> -->
          </div>
          <div class="credits">
            <!-- CONTENT HERE -->
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="https://twitter.com/DojoAI_" class="twitter"><i class="bx bxl-twitter" style="font-size: 20px;"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook" style="font-size: 20px;"></i></a>
          <a href="https://www.instagram.com/dojoai_/" class="instagram"><i class="bx bxl-instagram" style="font-size: 20px;"></i></a>
          <a href="discord.gg/SeJ39Zxf" class="google-plus"><i class="bx bxl-discord" style="font-size: 20px;"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-reddit" style="font-size: 20px;"></i></a>
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="static/js/main.js"></script>

  <!-- Web3 JS File -->
  <input type="hidden" id="enable">
  <script src="static/js/web3.js"></script>
  
  <!-- BASE JS FILE -->
  <script src="static/js/base.js"></script>
</body>

</html>